@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F2EBE3] text-[#222222];
    font-family: var(--font-roboto-flex), sans-serif;
  }
}

.font-serif {
  font-family: var(--font-fraunces), serif !important;
}

h1, h2, h3 {
  font-family: var(--font-fraunces), serif;
}