@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #222222;
  --primary: #2E4442;
  --tan: #f2ebe3;
  --hover: #2F5C58;
  --hover-tan: #EDD7BE;
  --font-fraunces: "Fraunces", serif;
  --font-roboto-flex: "Roboto Flex", sans-serif;
}

.font-serif {
  font-family: var(--font-fraunces), serif;
}
.font-sans-serif {
  font-family: var(--font-roboto-flex), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-fraunces), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
